
.form-select {
    border: 1px solid #E7E7E7;
    box-shadow: none;
    color: #E7E7E7;
    font-size: 15px;
    height: 45px;
    margin-inline: 10px;
}
.small-card{
    border: 1px solid #F2F2F2;
    border-radius: 24px;
    padding: 0px;
}
.small-card #chart {
    max-width: 150px;
}
.text-bold{
    font-weight: bold;
    margin-top: 40px !important;
}
.line-vertiacl {
    width: 0px;
    border-left: 2px solid #808080b5;
    height: 50px;
}
.image-card{
    width: 65px !important;
}
.card-body{
    padding: 10px;
}
.bg-comman{
    border-radius: 25px ;
}
select.son  {
    margin: 0px;
    width: 200px;
    border: 1px solid #2E50A3;
    color: #2E50A3;
    border-radius: 15px;
    margin-inline: 0px !important;
    margin-bottom: 0px;
}