<div class="content container-fluid">

  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-sub-header">
          <h3 class="page-title">Students</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/students/students-list'">Student</a></li>
            <li class="breadcrumb-item active">All Students</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="student-group-form">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search by ID ...">
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search by Name ...">
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search by Phone ...">
        </div>
      </div>
      <div class="col-lg-2">
        <div class="search-student-btn">
          <button type="btn" class="btn btn-primary">Search</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <div class="card card-table comman-shadow">
        <div class="card-body">

          <!-- Page Header -->
          <div class="page-header">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="page-title">Students</h3>
              </div>
              <div class="col-auto text-end float-end ms-auto download-grp">
                <a [routerLink]="'/students/students-list'" class="btn btn-outline-gray ms-2 active"><i
                    class="feather icon-list"></i></a>
                <a [routerLink]="'/students/students-grid'" class="btn btn-outline-gray ms-2"><i
                    class="feather icon-grid"></i></a>
                <a href="javascript:void(0);" class="btn btn-outline-primary ms-2"><i class="fas fa-download"></i>
                  Download</a>
                <a [routerLink]="'/students/students-add'" class="btn btn-primary"><i class="fas fa-plus"></i></a>
              </div>
            </div>
          </div>
          <!-- /Page Header -->
          <div class="table-responsive">
            <div class="table_header">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="dataTables_length">
                    <label htmlFor="">
                      Show
                      <select [(ngModel)]="pageSize" (ngModelChange)="changePageSize()"
                        class="form-control form-control-sm">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                      Entries
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <table matSort (matSortChange)="sortData($event)"
              class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
              <thead class="student-thread">
                <tr>
                  <th>
                    <div class="form-check check-tables">
                      <input class="form-check-input" type="checkbox" value="something">
                    </div>
                  </th>
                  <th mat-sort-header="idNo">ID</th>
                  <th mat-sort-header="name">Name</th>
                  <th mat-sort-header="class">Class</th>
                  <th mat-sort-header="dob">DOB</th>
                  <th mat-sort-header="parentName">Parent Name</th>
                  <th mat-sort-header="mobileNumber">Mobile Number</th>
                  <th mat-sort-header="address">Address</th>
                  <th class="text-end">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let students of studentslist ;let i = index">
                  <td>
                    <div class="form-check check-tables">
                      <input class="form-check-input" type="checkbox" value="something">
                    </div>
                  </td>
                  <td>{{students.idNo}}</td>
                  <td>
                    <h2 class="table-avatar">
                      <a [routerLink]="'/students/students-details'" class="avatar avatar-sm ms-2"><img
                          class="avatar-img rounded-circle" src="assets/img/profiles/avatar-0{{students.id}}.jpg"
                          alt="User Image"></a>
                      <a [routerLink]="'/students/students-details'">{{students.name}}</a>
                    </h2>
                  </td>
                  <td>{{students.class}}</td>
                  <td>{{students.dob}}</td>
                  <td>{{students.parentName}}</td>
                  <td>{{students.mobileNumber}}</td>
                  <td>{{students.address}}</td>
                  <td class="text-end">
                    <div class="actions ">
                      <a href="javascript:;" class="btn btn-sm bg-success-light ms-2 ">
                        <i class=" feather icon-eye"></i>
                      </a>
                      <a [routerLink]="'/students/students-edit'" class="btn btn-sm bg-danger-light">
                        <i class="feather icon-edit"></i>
                      </a>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="studentslist.length === 0">
                  <td colspan="9">
                    <h5 style="text-align: center">No data found</h5>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table_footer">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info">
                Showing {{ serialNumberArray[0] }} to
                {{ serialNumberArray[serialNumberArray.length - 1] }} of
                {{ totalData }} entries
              </div>
            </div>

            <div class="col-sm-12 col-md-7">
              <div class="pagination_section">
                <ul class="pagination">
                  <li class="page-item" [ngClass]="{
                                disabled: currentPage === 1
                              }">
                    <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);"
                      tabindex="-1">Previous</a>
                  </li>

                  <ng-container *ngFor="let item of pageNumberArray; let i = index">
                    <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                                  (pageNumberArray[currentPage - 2] > item &&
                                    item !== 1 &&
                                    pageNumberArray.length > 6) ||
                                  (pageNumberArray[currentPage] < item &&
                                    item !== 1 &&
                                    pageNumberArray.length > 6 &&
                                    pageNumberArray.length !== item)
                                    ? 'hide-page-no'
                                    : 'show-page-no'
                                ">
                      <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                        {{ item }}
                      </a>
                    </li>
                    <li class="page-item" *ngIf="
                                  i === 0 && pageNumberArray.length > 6 && currentPage > 2
                                " [hidden]="currentPage === 1">
                      <a (click)="moveToPage(currentPage - 2)" class="page-link" href="javascript:void(0);"> ...
                      </a>
                    </li>
                    <li *ngIf="
                                  i === pageNumberArray.length - 2 &&
                                  pageNumberArray.length > 6
                                " [hidden]="
                                  currentPage >=
                                    pageNumberArray[pageNumberArray.length - 2] ||
                                  totalData < serialNumberArray[serialNumberArray.length - 1]
                                " class="page-item">
                      <a (click)="moveToPage(currentPage + 2)" class="page-link" href="javascript:void(0);"> ...
                      </a>
                    </li>
                  </ng-container>

                  <li class="page-item" [ngClass]="{
                                disabled:
                                  currentPage ===
                                    pageNumberArray[pageNumberArray.length - 1] ||
                                  studentslist.length === 0
                              }">
                    <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);">Next
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <p>COPYRIGHT © 2023 DREAMSTECHNOLOGIES.</p>
</footer>
<!-- /Footer -->