.mat-form-field {
    display: block;
}
.mat-chip-list-wrapper {
    border: 1px solid #ddd !important ;
}
mat-chip {
    background-color: #3d5ee1 !important;
    color: #fff !important;
    border-radius: 0px;
}
mat-icon{
    color: #fff;
}