
$blue-primary:#1D4BA3;

$color_1: #333;
$color_2: #000000;
$color_3: #3d5ee1;
$color_4: #888;
$color_5: #474648;
$color_6: #495057;
$color_7: #000;
$color_8: #fff;
$color_9: #131523;
$color_10: #18aefa;
$color_11: #242424;
$color_12: #97A2D2;
$color_13: #a6a6a6;
$color_14: #1db9aa;
$color_15: #2196f3;
$color_16: #FF0000;
$color_17: #f39c12;
$color_18: #52536D;
$color_19: #c580ff;
$color_20: #283447;
$color_21: #405189;
$color_22: #3577f1;
$color_23: #0ab39c;
$color_24: #299cdb;
$color_25: #f7b84b;
$color_26: #f06548;
$color_27: #212529;
$color_28: #f3f6f9;
$color_29: #699834;
$color_30: #e84646;
$color_31: #009efb;
$color_32: #ffbc34;
$color_33: #7460ee;
$color_34: #757575;
$color_35: #7bb13c;
$color_36: #ababab;
$color_37: #455560;
$color_38: inherit;
$color_39: #a0a0a0;
$color_40: #3D5EE1;
$color_41: #1d1d1d;
$color_42: #a3a3a3;
$color_43: #6c757d;
$color_44: rgba(17, 17, 17, 0.32);
$color_45: #808191;
$color_46: #6f6f6f;
$color_47: #9e9e9e;
$color_48: #ff9b44;
$color_49: #2C323F;
$color_50: #ABABAB;
$color_51: #AAAAAA;
$color_52: #18AEFA;
$color_53: #878787;
$color_54: #bdbdbd;
$color_55: #989c9e;
$color_56: #777;
$color_57: #3bbafd;
$color_58: #ffba38;
$color_59: #7085b0;
$color_60: #5ebbf4;
$color_61: #de7099;
$color_62: #4a92b5;
$color_63: #666;
$color_64: #797979;
$color_65: #ffd200;
$color_66: #1f1f1f;
$color_67: #66676b;
$color_68: #9E9E9E;
$color_69: #808080;
$color_70: #828282;
$color_71: #848484;
$color_72: #8C8C8C;
$color_73: #344357;
$color_74: #959595;
$color_75: #A098AE;
$color_76: #7C7C7C;
$color_77: #6e6bfa;
$color_78: #b8b7ff;
$color_79: #777777;
$color_80: #333333;
$color_81: #888888;
$color_82: #747474;
$color_83: #3b3b3b;
$color_84: #ffffff;
$color_85: #7E84A3;
$color_86: #272b41;
$color_87: #1B2559;
$color_88: #8F9BBA;
$color_89: #FFFFFF;
$color_90: #7638FF;
$color_91: #0a58ca;
$color_92: #377dff;
$color_93: #C4C4C4;
$color_94: #f09e9e;
$color_95: #EC1361;
$color_96: #858585;
$color_97: #929292;
$color_98: #71717A;
$color_99: #1B5A90;
$color_100: #F0142F;
$color_101: #5156be;
$color_102: #ced4da;
$color_103: #adb5bd;
$color_104: #621aff;
$color_105: transparent;
$color_106: #7638ff;
$font-family_1: 'Roboto', sans-serif;
$font-family_2: 'Source Sans Pro', sans-serif;
$font-family_3: 'Titillium Web', sans-serif;
$font-family_4: "Font Awesome 5 Free";
$font-family_5: inherit;
$font-family_6: 'Font Awesome 5 Free';
$background-color_1: #f7f7fa;
$background-color_2: #fff;
$background-color_3: rgba(0, 0, 0, 0.1);
$background-color_4: #f8f9fa;
$background-color_5: #f7f7f7;
$background-color_6: rgba(255, 255, 255, 0.3);
$background-color_7: rgba(235, 235, 235, 0.4);
$background-color_8: rgba(0, 0, 0, 0.25);
$background-color_9: #3d5ee1;
$background-color_10: #7638ff;
$background-color_11: rgba(2, 182, 179, 0.12);
$background-color_12: rgba(17, 148, 247, 0.12);
$background-color_13: rgb(255 218 218 / 49%);
$background-color_14: rgba(255, 152, 0, 0.12);
$background-color_15: #F7F7FA;
$background-color_16: rgba(197, 128, 255, 0.12);
$background-color_17: rgba(40, 52, 71, 0.12);
$background-color_18: rgba(64,81,137,.1);
$background-color_19: rgba(53,119,241,.1);
$background-color_20: rgba(10,179,156,.1);
$background-color_21: rgba(41,156,219,.1);
$background-color_22: rgba(247,184,75,.1);
$background-color_23: rgba(240,101,72,.1);
$background-color_24: rgba(33,37,41,.1);
$background-color_25: rgba(243,246,249,.1);
$background-color_26: transparent;
$background-color_27: #fff5d9;
$background-color_28: #fdbb38;
$background-color_29: #ebebff;
$background-color_30: #18aefa;
$background-color_31: #7bb13c;
$background-color_32: #699834;
$background-color_33: #009efb;
$background-color_34: #56dccc;
$background-color_35: #028ee1;
$background-color_36: #ffbc34;
$background-color_37: #e9ab2e;
$background-color_38: #e84646;
$background-color_39: #e63333;
$background-color_40: #9368e9;
$background-color_41: #f62d51;
$background-color_42: rgba(2, 182, 179,0.12);
$background-color_43: rgba(17, 148, 247,0.12);
$background-color_44: rgba(255, 152, 0,0.12);
$background-color_45: rgba(197, 128, 255,0.12);
$background-color_46: rgba(40, 52, 71,0.12);
$background-color_47: #edeff1;
$background-color_48: #eee;
$background-color_49: #fafafa;
$background-color_50: #f5f5f5;
$background-color_51: rgb(232 232 232 / 20%);
$background-color_52: #f9f9f9;
$background-color_53: rgba(0, 0, 0, 0.6);
$background-color_54: #e9ecef;
$background-color_55: #ccc;
$background-color_56: #4b75bd;
$background-color_57: #fe5240;
$background-color_58: #e5e5e5;
$background-color_59: #18AEFA;
$background-color_60: #EDF4FF;
$background-color_61: #1877F2;
$background-color_62: #1D9BF0;
$background-color_63: #0A66C2;
$background-color_64: #FE643B;
$background-color_65: #FAFAFA;
$background-color_66: #ffffcc;
$background-color_67: #f4f4f5;
$background-color_68: rgb(244 104 65 / 0.2);
$background-color_69: rgb(110 107 250 / 0.2);
$background-color_70: rgb(253 187 56 / 0.5);
$background-color_71: rgb(25 175 251 / 0.2);
$background-color_72: #f46841;
$background-color_73: #6e6bfa;
$background-color_74: #19affb;
$background-color_75: #55ce63;
$background-color_76: #7638FF;
$background-color_77: #a0a0a0;
$background-color_78: #C4C4C4;
$background-color_79: #d19eb7;
$background-color_80: #dee2e6;
$background-color_81: rgba(0,0,0,.1);
$background-color_82: #fcba38;
$background-color_83: #5156be;
$background-color_84: #2ab57d;
$background-color_85: #fd625e;
$background-color_86: #ffbf53;
$background-color_87: #313533;
$background-color_88: #363a38;
$background-color_89: #fb9678;
$background-color_90: #00c292;
$background-color_91: #fec107;
$background-color_92: #e46a76;
$background-color_93: #03a9f3;
$background-color_94: #621aff;
$background-color_95: #f8f8f8;
$background-color_96: #eeeeee;
$background-color_97: #5977ef;
$border-color_1: #3d5ee1;
$border-color_2: rgba(0, 0, 0, 0.1);
$border-color_3: transparent;
$border-color_4: rgba(0, 0, 0, 0.05);
$border-color_5: #eff2f7;
$border-color_6: #e6e6e6;
$border-color_7: #18aefa;
$border-color_8: #699834;
$border-color_9: #7bb13c;
$border-color_10: #028ee1;
$border-color_11: #009efb;
$border-color_12: #e9ab2e;
$border-color_13: #ffbc34;
$border-color_14: #e63333;
$border-color_15: #f62d51;
$border-color_16: #e84646;
$border-color_17: #000 transparent transparent;
$border-color_18: transparent transparent #000;
$border-color_19: #18AEFA;
$border-color_20: #e9e9e9;
$border-color_21: #f3f3f3;
$border-color_22: #ccc;
$border-color_23: #f46841;
$border-color_24: #6e6bfa;
$border-color_25: #fdbb38;
$border-color_26: #19affb;
$border-color_27: #EEF1FE;
$border-color_28: transparent transparent #fff #fff;
$border-color_29: transparent transparent #ffffff #ffffff;
$border-color_30: #E5E5E5;
$border-color_31: #131523;
$border-color_32: #fff;
$border-color_33: #7366ff;
$border-color_34: #f73164;
$border-color_35: #51bb25;
$border-color_36: #dc3545;
$border-color_37: #a927f9;
$border-color_38: #f4f4f4;
$border-color_39: #2c323f;
$border-color_40: #f8d62b;
$border-color_41: #f2f2f2;
$border-color_42: #5156be;
$border-color_43: #2ab57d;
$border-color_44: #fd625e;
$border-color_45: #ffbf53;
$border-color_46: #3b403d;
$border-color_47: #621aff;
$border-color_48: #7b9d6f;
$border-color_49: #dfdfdf;
$border-top-color_1: #ddd;
$border-top-color_2: #3d5ee1;
$border-top-color_3: #7366ff;
$border-top-color_4: transparent;
$border-top-color_5: #43f;
$border-top-color_6: #f73164;
$border-top-color_7: #ec0944;
$border-top-color_8: #51bb25;
$border-top-color_9: #3f901d;
$border-top-color_10: #dc3545;
$border-top-color_11: #bd2130;
$border-top-color_12: #a927f9;
$border-top-color_13: #9106e7;
$border-top-color_14: #f4f4f4;
$border-top-color_15: #dbdbdb;
$border-top-color_16: #2c323f;
$border-top-color_17: #171a21;
$border-top-color_18: #f8d62b;
$border-top-color_19: #e8c308;
$border-top-color_20: #fcba38;
$border-right-color_1: #3d5ee1;
$border-right-color_2: #fff;
$border-right-color_3: transparent;
$border-right-color_4: #7366ff;
$border-right-color_5: #43f;
$border-right-color_6: #f73164;
$border-right-color_7: #ec0944;
$border-right-color_8: #51bb25;
$border-right-color_9: #3f901d;
$border-right-color_10: #dc3545;
$border-right-color_11: #bd2130;
$border-right-color_12: #a927f9;
$border-right-color_13: #9106e7;
$border-right-color_14: #f4f4f4;
$border-right-color_15: #dbdbdb;
$border-right-color_16: #2c323f;
$border-right-color_17: #171a21;
$border-right-color_18: #f8d62b;
$border-right-color_19: #e8c308;
$border-bottom-color_1: #7638ff;
$border-bottom-color_2: #FFBC53;
$border-bottom-color_3: #ddd;
$border-bottom-color_4: #3d5ee1;
$border-bottom-color_5: transparent;
$border-bottom-color_6: #7366ff;
$border-bottom-color_7: #43f;
$border-bottom-color_8: #f73164;
$border-bottom-color_9: #ec0944;
$border-bottom-color_10: #51bb25;
$border-bottom-color_11: #3f901d;
$border-bottom-color_12: #dc3545;
$border-bottom-color_13: #bd2130;
$border-bottom-color_14: #a927f9;
$border-bottom-color_15: #9106e7;
$border-bottom-color_16: #f4f4f4;
$border-bottom-color_17: #dbdbdb;
$border-bottom-color_18: #2c323f;
$border-bottom-color_19: #171a21;
$border-bottom-color_20: #f8d62b;
$border-bottom-color_21: #e8c308;
$border-left-color_1: transparent;
$border-left-color_2: #7366ff;
$border-left-color_3: #43f;
$border-left-color_4: #f73164;
$border-left-color_5: #ec0944;
$border-left-color_6: #51bb25;
$border-left-color_7: #3f901d;
$border-left-color_8: #dc3545;
$border-left-color_9: #bd2130;
$border-left-color_10: #a927f9;
$border-left-color_11: #9106e7;
$border-left-color_12: #f4f4f4;
$border-left-color_13: #dbdbdb;
$border-left-color_14: #2c323f;
$border-left-color_15: #171a21;
$border-left-color_16: #f8d62b;
$border-left-color_17: #e8c308;
$fc-button-bg-color: #3d5ee1;