
.main-wrapper {
	width: 100%;
	height: 100vh;
	min-height: 100vh;
}
.page-wrapper {
	margin-left: 259px;
	padding-top: 60px;
	position: relative;
	transition: all 0.4s ease;
	.content {
		padding: 1.875rem 1.875rem 0;
	}
}
.page-header {
	margin-bottom: 1.875rem;
	.breadcrumb {
		background-color: $background-color_26;
		color: $color_43;
		font-size: 1rem;
		font-weight: 500;
		margin-bottom: 0;
		padding: 0;
		margin-left: auto;
		a {
			color: $color_1;
		}
	}
	.col {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
.breadcrumb {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0.75rem 1rem;
	margin-bottom: 1rem;
	list-style: none;
	background-color: $background-color_54;
	border-radius: 0.25rem;
}
.breadcrumb.pre-breadcrumb {
	padding: 0;
	background-color: $background-color_26;
}
.page-sub-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	.breadcrumb {
		margin-left: auto;
	}
}