.header {
	background-color: $background-color_2;
	border-bottom: 1px solid #f3f3f4;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1001;
	height: 60px;
	.header-left {
		float: left;
		height: 60px;
		padding: 0 20px;
		position: relative;
		width: 259px;
		z-index: 1;
		transition: all 0.2s ease-in-out;
		display: flex;
		align-items: center;
		background: #FFFFFF;
		box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.03);
		.logo {
			display: inline-block;
			line-height: 60px;
			img {
				max-height: 40px;
				width: auto;
			}
		}
	}
	.dropdown-menu {
		>li {
			>a {
				position: relative;
				padding: 10px 18px;
				&:focus {
					background-color: $background-color_9;
					color: $color_8;
					i {
						color: $color_8;
					}
				}
				&:hover {
					background-color: $background-color_9;
					color: $color_8;
					i {
						color: $color_8;
					}
				}
				i {
					color: $color_3;
					margin-right: 10px;
					text-align: center;
					width: 18px;
				}
			}
		}
	}
	.dropdown-toggle {
		&:after {
			display: none;
		}
	}
	.has-arrow {
		.dropdown-toggle {
			&:after {
				border-top: 0;
				border-left: 0;
				border-bottom: 2px solid #7E84A3;
				border-right: 2px solid #7E84A3;
				content: '';
				height: 8px;
				display: inline-block;
				pointer-events: none;
				-webkit-transform-origin: 66% 66%;
				-ms-transform-origin: 66% 66%;
				transform-origin: 66% 66%;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				-webkit-transition: all 0.15s ease-in-out;
				transition: all 0.15s ease-in-out;
				width: 8px;
				vertical-align: 0px;
			}
		}
		.dropdown-toggle[aria-expanded="true"] {
			&:after {
				-webkit-transform: rotate(-135deg);
				-ms-transform: rotate(-135deg);
				transform: rotate(-135deg);
			}
		}
	}
	.user-menu {
		.dropdown-menu {
			>li {
				>a {
					i {
						color: $color_3;
						font-size: 16px;
						margin-right: 10px;
						min-width: 18px;
						text-align: center;
					}
					&:focus {
						i {
							color: $color_8;
						}
					}
					&:hover {
						i {
							color: $color_8;
						}
					}
				}
			}
		}
	}
}
.mini-sidebar {
	.header {
		.header-left {
			justify-content: center;
		}
	}
}
.header-left {
	.logo.logo-small {
		display: none;
	}
}
.user-menu {
	float: right;
	margin: 0;
	position: relative;
	z-index: 99;
	padding-right: 15px;
	align-items: center;
	.dropdown-menu {
		min-width: 200px;
		padding: 0;
		visibility: hidden;
		opacity: 0;
		display: block;
		transform: translate(0px, 100px);
		.dropdown-item {
			padding: 7px 15px;
			display: flex;
			align-items: center;
			border-top: 1px solid #e3e3e3;
			padding: 10px 15px;
			&:hover {
				color: $color_3;
			}
		}
	}
	.dropdown-menu.show {
		visibility: visible;
		opacity: 1;
		margin-top: 0;
		transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
	}
}
.user-menu.nav {
	>li {
		>a {
			color: $color_39;
			font-size: 14px;
			line-height: 58px;
			padding: 0 15px;
			height: 60px;
			&:hover {
				background-color: $background-color_51;
				i {
					color: $color_10;
				}
			}
			&:focus {
				background-color: $background-color_51;
				i {
					color: $color_10;
				}
			}
			.badge {
				background-color: $background-color_9;
				display: block;
				font-size: 10px;
				font-weight: bold;
				height: 15px;
				width: 15px;
				position: absolute;
				right: 7px;
				top: 13px;
				color: $color_8;
				padding: 3px;
				border-radius: 50%;
			}
			>i {
				font-size: 1.5rem;
				line-height: 60px;
			}
		}
		>a.mobile_btn {
			border: 0;
			position: relative;
			padding: 0;
			margin: 0;
			cursor: pointer;
		}
	}
	.header-nav-list {
		width: 40px;
		height: 40px;
		background: #F7F7FA;
		border-radius: 50px;
		padding: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		justify-content: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		i {
			font-size: 20px;
		}
	}
	>li.view-btn {
		>a {
			color: $color_8;
			padding: 10px 15px;
			border-radius: 6px;
			background-color: $background-color_9;
			&:hover {
				background-color: $background-color_30;
				color: $color_8;
				i {
					color: $color_8;
				}
			}
			i {
				font-size: 17px;
				position: relative;
			}
		}
	}
}
.user-img {
	margin-right: 3px;
	position: relative;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	.user-text {
		margin: 0px 8px;
		.text-muted {
			line-height: 1.2;
			font-size: 12px;
			font-weight: 500;
			color: $color_40 !important;
		}
		h6 {
			font-size: 14px;
			font-weight: 500;
			color: $color_41;
			margin-bottom: 3px;
		}
	}
	img {
		width: 40px;
		height: 40px;
		border: 2px solid #E6E6E6;
		padding: 2px;
	}
}
.new-user-menus {
	.nav-link {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
.mobile_btn {
	display: none;
	float: left;
	display: none;
	float: left;
}
.slide-nav {
	.sidebar {
		margin-left: 0;
	}
}
.user-header {
	background-color: $background-color_52;
	display: flex;
	padding: 10px 15px;
	.user-text {
		margin-left: 10px;
		h6 {
			margin-bottom: 2px;
		}
	}
}
.menu-title {
	color: $color_42;
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
	padding: 0 25px;
	color: $color_47;
	display: flex;
	font-size: 14px;
	opacity: 1;
	padding: 5px 15px;
	white-space: nowrap;
	>i {
		float: right;
		line-height: 40px;
	}
}
.sidebar-overlay {
	background-color: $background-color_53;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 60px;
	width: 100%;
	z-index: 1000;
}
.sidebar-overlay.opened {
	display: block;
}
html.menu-opened {
	overflow: hidden;
	body {
		overflow: hidden;
	}
}
.top-nav-search {
	float: left;
	margin-left: 55px;
	form {
		margin-top: 10px;
		position: relative;
		width: 300px;
	}
	.form-control {
		background: #F5F5F5;
		border: 1px solid #D7D9DE;
		border-radius: 8px;
		color: $color_43;
		height: 40px;
		padding: 10px 15px 10px 40px;
		&::-webkit-input-placeholder {
			color: $color_44;
			font-weight: 500;
		}
		&::-moz-placeholder {
			color: $color_44;
			font-weight: 500;
		}
		&:-ms-input-placeholder {
			color: $color_44;
			font-weight: 500;
		}
		&::-ms-input-placeholder {
			color: $color_44;
			font-weight: 500;
		}
		&::placeholder {
			color: $color_44;
			font-weight: 500;
		}
	}
	.btn {
		background-color: $background-color_26;
		border-color: $border-color_3;
		color: $color_44;
		min-height: 40px;
		padding: 7px 15px;
		position: absolute;
		left: 0;
		top: 0;
	}
}
.top-nav-search.active {
	form {
		display: block;
		left: 0;
		position: absolute;
	}
}
.language-drop {
	.noti-content {
		width: 200px;
		overflow-y: auto;
		position: relative;
	}
	.dropdown-menu {
		inset: 0px 0 auto auto !important;
	}
}