/*-----------------
	12. Login
-----------------------*/

.login-body {
    display: table;
    height: 100vh;
    min-height: 100vh;
}
.login-wrapper {
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
.login-wrapper .loginbox {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
    margin: 1.875rem auto;
    max-width: 800px;
    min-height: 500px;
    width: 100%;
}
.login-wrapper .loginbox .login-left {
	align-items: center;
    background: #18aefa;
    flex-direction: column;
    justify-content: end;
    width: 400px;
    display: flex;
    background-blend-mode: multiply;
	border-radius: 8px 20px 20px 8px;
	position: relative;
}
.login-wrapper .loginbox .login-left:before {
	content: "";
	background-image: url(../img/login-icon-01.png);
	position: absolute;
	top: 0;
	left: 0;
	width: 144px;
    height: 144px;
}
.login-wrapper .loginbox .login-left:after {
	content: "";
	background-image: url(../img/login-icon-02.png);
	position: absolute;
	top: 0;
	right: 0;
	width: 144px;
    height: 144px;
}
.login-wrapper .loginbox .login-right {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px;
    width: 400px;
}
.login-wrapper .loginbox .login-right .login-right-wrap {
    max-width: 100%;
    flex: 0 0 100%;
}
.login-wrapper .loginbox .login-right .login-right-wrap .form-group {
	position: relative;
}
.login-wrapper .loginbox .login-right .login-right-wrap .form-group label {
	font-size: 13px;
	color: #ABABAB;
	font-weight: 500;
	position: absolute;
    top: -10px;
    left: 10px;
    background: #fff;
    margin-bottom: 0;
	padding: 0px 5px;
}
.login-danger,
.star-red {
	color: #FF0000;
}
.login-wrapper .loginbox .login-right h1 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: left;
}
.account-subtitle {
    color: #AAAAAA;
    font-size: 16px;
    margin-bottom: 1.875rem;
    text-align: left;
}
.account-subtitle a {
	color: #18AEFA;
}
.login-wrapper .loginbox .login-right h2 {
	font-size: 23px;
	font-weight: 500;
	color: #000;
	margin-bottom: 28px;
}
.login-wrapper .loginbox .login-right .forgotpass {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	margin-bottom: 20px;
}
.remember-me .custom_check {
	color: #878787;
	font-size: 14px;
	font-weight: 400;
}
.remember-me .custom_check .checkmark {
	width: 20px;
	height: 20px;
	top: 0px;
	border: 1px solid #C1CCDB;
}
.login-wrapper .loginbox .login-right .forgotpass a {
	color: #18AEFA;
	font-size: 15px;
	margin-left: auto;
}
.login-wrapper .loginbox .login-right .forgotpass a:hover {
	color: #333;
	text-decoration: underline;
}
.login-wrapper .loginbox .login-right .dont-have {
	color: #a0a0a0;
	margin: 20px 0px;
}
.login-wrapper .loginbox .login-right .dont-have a {
	color: #18AEFA;
	font-weight: 500;
}
.login-wrapper .loginbox .login-right .dont-have a:hover {
	text-decoration: underline;
}
.social-login {
	text-align: center;
}
.social-login > span {
	color: #a0a0a0;
	margin-right: 8px;
}
.social-login > a {
	background-color: #ccc;
	border-radius: 4px;
	color: #000;
	display: inline-block;
	font-size: 18px;
	height: 32px;
	line-height: 32px;
	margin-right: 6px;
	text-align: center;
	width: 32px;
}
.social-login > a:hover {
	background-color: #3d5ee1;
    color: #fff;
}
.social-login > a i.fa-twitter,
.social-login > a i.fa-linkedin-in {
	color: #000;
}
.social-login > a i.fa-twitter:hover,
.social-login > a i.fa-linkedin-in:hover {
	color: #fff;
}
.social-login > a:last-child {
	margin-right: 0;
}
.social-login > a.facebook {
	background-color: #4b75bd;
}
.social-login > a.google {
	background-color: #fe5240;
}
.login-or {
	color: #a0a0a0;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	position: relative;
}
.or-line {
	background-color: #e5e5e5;
	height: 1px;
	margin-bottom: 0;
	margin-top: 0;
	display: block;
}
.span-or {
	background-color: #fff;
	display: block;
	left: 50%;
	margin-left: -20px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 0;
	width: 42px;
}
.btn-primary.primary-reset {
    background-color: #18AEFA;
    border-color: #18AEFA;
}
.btn-primary.primary-reset:hover {
    background-color: #3d5ee1;
    border: 1px solid #3d5ee1;
}
.profile-views {
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
}
