.sidebar {
	bottom: 0;
	left: 0;
	margin-top: 0;
	position: fixed;
	top: 60px;
	transition: all 0.2s ease-in-out 0s;
	width: 259px;
	z-index: 1001;
	background: $blue-primary
	;
	.sidebar-menu {
		>ul {
			>li {
				>a {
					span {
						transition: all 0.2s ease-in-out 0s;
						display: inline-block;
						margin-left: 10px;
						white-space: nowrap;
					}
					span.chat-user {
						margin-left: 0;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					span.badge {
						margin-left: auto;
					}
				}
			}
		}
	}
}
.sidebar.opened {
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.sidebar-inner {
	height: 100%;
	min-height: 100%;
	transition: all 0.2s ease-in-out 0s;
}
.sidebar-menu {
	padding: 15px;
	ul {
		font-size: 15px;
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: relative;
		ul {
			a.active {
				color: $color_8;
				background: #3D5EE1;
				border-radius: 6px;
			}
			a {
				display: block;
				font-size: 15px;
				padding: 7px 10px 7px 30px;
				position: relative;
				margin-bottom: 2px;
				.menu-arrow {
					top: 10px;
				}
			}
			display: none;
			margin-left: 15px;
			ul {
				a {
					padding-left: 65px;
				}
				ul {
					a {
						padding-left: 85px;
					}
				}
			}
		}
		li {
			a {
				i {
					display: inline-block;
					font-size: 16px;
					line-height: 24px;
					text-align: left;
					vertical-align: middle;
					width: 20px;
					transition: all 0.2s ease-in-out 0s;
				}
			}
		}
		li.menu-title {
			a {
				i {
					font-size: 16px !important;
					margin-right: 0;
					text-align: right;
					width: auto;
				}
			}
		}
	}
	li {
		a {
			color: $color_46;
			display: block;
			font-size: 16px;
			height: auto;
			padding: 0 20px;
			&:hover {
				color: $color_8;
				background: #3D5EE1;
				border-radius: 6px;
			}
			>.badge {
				color: $color_8;
			}
		}
		a.subdrop {
			.menu-arrow {
				-ms-transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				transform: rotate(90deg);
			}
		}
	}
	>ul {
		>li {
			>a {
				&:hover {
					background-color: $background-color_2;
					color: $color_40;
					margin: 0px -15px;
					padding-left: 30px;
				}
				align-items: center;
				display: flex;
				justify-content: flex-start;
				padding: 12px 15px;
				position: relative;
				transition: all 0.2s ease-in-out 0s;
				svg {
					width: 18px;
				}
			}
			margin-bottom: 3px;
			position: relative;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	li.active {
		>a {
			background-color: $background-color_2;
			color: $color_40;
			position: relative;
			margin: 0px -15px;
			padding-left: 30px;
			&::before {
				width: 6px;
				content: "";
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				background: #3D5EE1;
				-webkit-transition: all 0.5s;
				-ms-transition: all 0.5s;
				transition: all 0.5s;
				border-radius: 0px 8px 8px 0px;
			}
		}
	}
	li.menu-title {
		a {
			color: $color_48;
			display: inline-block;
			margin-left: auto;
			padding: 0;
		}
		a.btn {
			color: $color_8;
			display: block;
			float: none;
			font-size: 15px;
			margin-bottom: 15px;
			padding: 10px 15px;
		}
	}
	.menu-arrow {
		-webkit-transition: -webkit-transform 0.15s;
		-o-transition: -o-transform 0.15s;
		transition: transform .15s;
		position: absolute;
		right: 15px;
		display: inline-block;
		font-family: $font-family_4;
		font-weight: 900;
		text-rendering: auto;
		line-height: 40px;
		font-size: 16px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
		line-height: 18px;
		top: 14px;
		&:before {
			content: "\f105";
		}
	}
}
.right-side-views {
	display: none;
}
.show-sub-menu {
	display: block !important;
	transition: all 0.5s;
  }
  .hide-sub-menu {
	display: none !important;
	transition: all 0.5s;
  }