<!-- Main Wrapper -->
<div class="main-wrapper login-body">
  <img src="../../../assets/img/logo.png" class="logo-login" />
  <div class="login-wrapper">
    <div class="container">
      <div class="loginbox row">
        <div class="col-6">
          <div class="dropdown col-6 text-left">
            <a
              class="dropdown-toggle"
              href="javascript:void(0);"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="color: black"
            >
              {{ currentLang | uppercase }}
            </a>
            <div class="dropdown-menu">
              <a
                style="color: black"
                class="dropdown-item"
                (click)="changeLang('en')"
                href="javascript:void(0);"
                >En</a
              >
              <a
                style="color: black"
                class="dropdown-item"
                (click)="changeLang('ar')"
                href="javascript:void(0);"
                >Ar</a
              >
            </div>
          </div>
        </div>
        <div class="login-right col-6">
          <div class="login-right-wrap">
            <p  > {{'welcome'|translate}}</p>
            <h1>{{'Login' | translate}}</h1>
            <!-- <h3 class="page-title">
              {{ "REGISTER.CREATE_NEW_USER" | translate }}
            </h3> -->

            <span style="color: #86dcff"
              >يرجى إدخال البريد الإلكتروني وكلمة المرور</span
            >

            <!-- Form -->
            <form [formGroup]="form" (ngSubmit)="submit()">
              <div class="form-group">
                <label htmlFor="">
                  {{'Phonenumber/Email'|translate}}
                  <span style="color: red">*</span>
                </label>
                <input
                  class="form-control"
                  placeholder=" {{'Phonenumber/Email'|translate}}"
                  class="form-control"
                  type="text"
                  formControlName="username"
                  id="username"
                  [ngClass]="{
                    'is-invalid': f['username'].touched && f['username'].invalid
                  }"
                />

                <div
                  *ngIf="f['username'].touched && f['username'].invalid"
                  class="invalid-feedback"
                >
                  <div
                    style="font-weight: bold"
                    *ngIf="
                      f['username'].errors && f['username'].errors['required']
                    "
                  >
                  {{'shared.This Field is Required'|translate}}

                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="position-relative">
                  <label htmlFor=""
                    > {{'Password'| translate}}
                    <span style="color: red">*</span>
                  </label>
                  <input
                    class="form-control"
                    [type]="Toggledata ? 'password' : 'text'"
                    formControlName="password"
                    id="password"
                    [ngClass]="{
                      'is-invalid':
                        f['password'].touched && f['password'].invalid
                    }"
                    placeholder=" {{'Password'| translate}}"
                  />
                  <a
                    href="javascript:void(0);"
                    class="text-dark"
                    (click)="iconLogle()"
                  >
                    <span
                      [ngClass]="
                        Toggledata === false
                          ? 'fas toggle-password fa-eye'
                          : 'fas toggle-password fa-eye-slash'
                      "
                    ></span>
                  </a>
                </div>
                <div
                  *ngIf="f['password'].touched && f['password'].invalid"
                  class="invalid-feedback"
                >
                  <div
                    style="font-weight: bold"
                    *ngIf="
                      f['password'].errors && f['password'].errors['required']
                    "
                  >
                  {{'shared.This Field is Required'|translate}}

                  </div>
                </div>
              </div>
              <div class="forgotpass">
                <a
                  [routerLink]="'/forgotpassword'"
                  style="color: #86dcff; text-align: right"
                >
                {{'Forgot password?' | translate}}
                    </a
                >
              </div>
              <div class="form-group">
                <button
                  class="btn btn-primary w-100"
                  type="submit"
                  style="
                    background-color: #92be33;
                    border-radius: 15px;
                    height: 45px;
                    font-size: 22px;
                  "
                  [disabled]="form.invalid"
                >
                  <div
                    class="spinner-border text-light"
                    role="status"
                    [hidden]="!isBtnLoading"
                  ></div>
                  <h1>{{'Login' | translate}}</h1>

                </button>
              </div>
            </form>
            <div class="form-group">
              <button
                (click)="signWithIdentity()"
                class="btn btn-primary w-100"
                style="
                  background-color: white;
                  border-radius: 15px;
                  color: black;
                  height: 45px;
                  font-size: 22px;
                "
              >
                <img
                  style="margin-inline: 10px"
                  src="../../../assets/img/UAEPASS_Logo.svg"
                />
                {{'Sign in with UAE PASS' | translate}}
              </button>
            </div>
            <p
              tooltip="{{'UAE PASS is a single trusted digital identity for all citizens, residents to United Arab Emirates' | translate}}  "
              placement="bottom"
              style="
                color: white;
                cursor: pointer;
                text-align: center;
                margin-bottom: 0px;
              "
            >
            {{'What is UAE PASS' | translate}}

            </p>
            <p style="text-align: center; margin-top: 5px">
              {{'login.noAccount' |translate}}

              <span style="color: #86dcff; font-weight: bold">
                <a style="color: #86dcff; font-weight: bold" href="/register">
                  {{'login.createAccount' |translate}}
                </a>
              </span>
            </p>
            <!-- /Form -->
            <!-- /Form -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <p
    style="
      position: absolute;
      bottom: 0px;
      color: #1d4ba3;
      z-index: 2222222222;
      right: 5%;
      font-weight: bold;
    "
  >
    هيئة الشارقة للتعليم الخاص ©{{ currentYear }} جميع الحقوق محفوظة
  </p>
</div>
<!-- /Main Wrapper -->
