<div class="content container-fluid">
				
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Add Subject</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="'/subjects/subjects-list'">Subject</a></li>
          <li class="breadcrumb-item active">Add Subject</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-sm-12">
    
      <div class="card">
        <div class="card-body">
          <form  [formGroup]="addSubjectsForm">
            <div class="row">
              <div class="col-12">
                <h5 class="form-title"><span>Subject Information</span></h5>
              </div>
              <div class="col-12 col-sm-4">  
                <div class="form-group local-forms">
                  <label htmlFor="subjectId">Subject ID <span class="login-danger">*</span></label>
                  <input type="text" class="form-control" [class.invalid]="addSubjectsForm.get('subjectId')?.invalid && addSubjectsForm.get('subjectId')?.touched"
                  formControlName="subjectId">
                  <div
                  *ngIf="addSubjectsForm.get('subjectId')?.invalid && addSubjectsForm.get('subjectId')?.touched">
                  <small
                      *ngIf="addSubjectsForm.get('subjectId')?.invalid && addSubjectsForm.get('subjectId')?.touched"
                      class="text-danger"> *Subject ID is required</small>
              </div>
                </div>
              </div>
              <div class="col-12 col-sm-4">  
                <div class="form-group local-forms">
                  <label htmlFor="subjectName">Subject Name <span class="login-danger">*</span></label>
                  <input type="text" class="form-control" [class.invalid]="addSubjectsForm.get('subjectName')?.invalid && addSubjectsForm.get('subjectName')?.touched"
                  formControlName="subjectName">
                  <div
                  *ngIf="addSubjectsForm.get('subjectName')?.invalid && addSubjectsForm.get('subjectName')?.touched">
                  <small
                      *ngIf="addSubjectsForm.get('subjectName')?.invalid && addSubjectsForm.get('subjectName')?.touched"
                      class="text-danger"> *Subject name is required</small>
              </div>
                </div>
              </div>
              <div class="col-12 col-sm-4">  
                <div class="form-group local-forms">
                  <label htmlFor="class">Class <span class="login-danger">*</span></label>
                  <input type="text" class="form-control" [class.invalid]="addSubjectsForm.get('class')?.invalid && addSubjectsForm.get('class')?.touched"
                  formControlName="class">
                  <div
                  *ngIf="addSubjectsForm.get('class')?.invalid && addSubjectsForm.get('class')?.touched">
                  <small
                      *ngIf="addSubjectsForm.get('class')?.invalid && addSubjectsForm.get('class')?.touched"
                      class="text-danger"> *Class is required</small>
              </div>
                </div>
              </div>
              <div class="col-12">
                <div class="student-submit">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      
    </div>					
  </div>					
</div>