<div class="content container-fluid">

  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Invoices</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard/dashboard-main">Dashboard</a></li>
          <li class="breadcrumb-item"><a routerLink="/invoices/invoices-list">Invoice</a></li>
          <li class="breadcrumb-item active">Invoices Overdue</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->
  <!-- Invoice Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col"></div>
      <div class="col-auto">
        <a [routerLink]="'/invoices/invoices-list'" class="invoices-links active">
          <i class="feather icon-list"></i>
        </a>
        <a [routerLink]="'/invoices/invoices-grid'" class="invoices-links ">
          <i class="feather icon-grid"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- /Invoice Header -->

  <!-- Report Filter -->
  <div class="card report-card">
    <div class="card-body pb-0">
      <div class="row">
        <div class="col-md-12">
          <ul class="app-listing">
            <li>
              <div class="multipleSelection">
                <a href="javascript:void(0);" (click)="showUser()">
                  <div class="selectBox">
                    <p class="mb-0"><i class="fas fa-user-plus me-1 select-icon"></i> Select User</p>
                    <span class="down-icon"><i class="fas fa-chevron-down"></i></span>
                  </div>
                </a>

                <div id="checkBoxes" [ngClass]="status ? 'show-sub-menu' : 'hide-sub-menu'">
                  <form action="#">
                    <p class="checkbox-title">Customer Search</p>
                    <div class="form-custom">
                      <input type="text" class="form-control bg-grey" placeholder="Enter Customer Name">
                    </div>
                    <div class="selectBox-cont">
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username">
                        <span class="checkmark"></span> Brian Johnson
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username">
                        <span class="checkmark"></span> Russell Copeland
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username">
                        <span class="checkmark"></span> Greg Lynch
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username">
                        <span class="checkmark"></span> John Blair
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username">
                        <span class="checkmark"></span> Barbara Moore
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username">
                        <span class="checkmark"></span> Hendry Evan
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="username">
                        <span class="checkmark"></span> Richard Miles
                      </label>
                    </div>
                    <button type="submit" class="btn w-100 btn-primary">Apply</button>
                    <button type="reset" class="btn w-100 btn-grey">Reset</button>
                  </form>
                </div>
              </div>
            </li>
            <li>
              <div class="multipleSelection">
                <a href="javascript:void(0);" (click)="showDate()">
                  <div class="selectBox">
                    <p class="mb-0"><i class="fas fa-calendar me-1 select-icon"></i> Select Date</p>
                    <span class="down-icon"><i class="fas fa-chevron-down"></i></span>
                  </div>
                </a>

                <div id="checkBoxes" [ngClass]="status2 ? 'show-sub-menu' : 'hide-sub-menu'">
                  <form action="#">
                    <p class="checkbox-title">Date Filter</p>
                    <div class="selectBox-cont selectBox-cont-one h-auto">
                      <div class="date-picker">
                        <div class="form-custom cal-icon">
                          <input class="form-control datetimepicker" type="text" placeholder="Form">
                        </div>
                      </div>
                      <div class="date-picker pe-0">
                        <div class="form-custom cal-icon">
                          <input class="form-control datetimepicker" type="text" placeholder="To">
                        </div>
                      </div>
                      <div class="date-list">
                        <ul>
                          <li><a href="javascript:void(0)" class="btn date-btn">Today</a></li>
                          <li><a href="javascript:void(0)" class="btn date-btn">Yesterday</a></li>
                          <li><a href="javascript:void(0)" class="btn date-btn">Last 7 days</a></li>
                          <li><a href="javascript:void(0)" class="btn date-btn">This month</a></li>
                          <li><a href="javascript:void(0)" class="btn date-btn">Last month</a></li>
                        </ul>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </li>
            <li>
              <div class="multipleSelection">
                <a href="javascript:void(0);" (click)="showStatus()">
                  <div class="selectBox">
                    <p class="mb-0"><i class="fas fa-book-open me-1 select-icon"></i> Select Status</p>
                    <span class="down-icon"><i class="fas fa-chevron-down"></i></span>
                  </div>
                </a>

                <div id="checkBoxes" [ngClass]="status3 ? 'show-sub-menu' : 'hide-sub-menu'">
                  <form action="#">
                    <p class="checkbox-title">By Status</p>
                    <div class="selectBox-cont">
                      <label class="custom_check w-100">
                        <input type="checkbox" name="name">
                        <span class="checkmark"></span> All Invoices
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="name" checked>
                        <span class="checkmark"></span> Paid
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="name">
                        <span class="checkmark"></span> Overdue
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="name">
                        <span class="checkmark"></span> Draft
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="name">
                        <span class="checkmark"></span> Recurring
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="name">
                        <span class="checkmark"></span> Cancelled
                      </label>
                    </div>
                    <button type="submit" class="btn w-100 btn-primary">Apply</button>
                    <button type="reset" class="btn w-100 btn-grey">Reset</button>
                  </form>
                </div>
              </div>
            </li>
            <li>
              <div class="multipleSelection">
                <a href="javascript:void(0);" (click)="showCategory()">
                  <div class="selectBox">
                    <p class="mb-0"><i class="fas fa-bookmark me-1 select-icon"></i> By Category</p>
                    <span class="down-icon"><i class="fas fa-chevron-down"></i></span>
                  </div>
                </a>

                <div id="checkBoxes" [ngClass]="status4 ? 'show-sub-menu' : 'hide-sub-menu'">
                  <form action="#">
                    <p class="checkbox-title">Category</p>
                    <div class="form-custom">
                      <input type="text" class="form-control bg-grey" placeholder="Enter Category Name">
                    </div>
                    <div class="selectBox-cont">
                      <label class="custom_check w-100">
                        <input type="checkbox" name="category">
                        <span class="checkmark"></span> Advertising
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="category">
                        <span class="checkmark"></span> Food
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="category">
                        <span class="checkmark"></span> Marketing
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="category">
                        <span class="checkmark"></span> Repairs
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="category">
                        <span class="checkmark"></span> Software
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="category">
                        <span class="checkmark"></span> Stationary
                      </label>
                      <label class="custom_check w-100">
                        <input type="checkbox" name="category">
                        <span class="checkmark"></span> Travel
                      </label>
                    </div>
                    <button type="submit" class="btn w-100 btn-primary">Apply</button>
                    <button type="reset" class="btn w-100 btn-grey">Reset</button>
                  </form>
                </div>
              </div>
            </li>
            <li>
              <div class="report-btn">
                <a class="btn">
                  <img src="assets/img/icons/invoices-icon5.png" alt="" class="me-2"> Generate report
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /Report Filter -->

  <div class="card invoices-tabs-card border-0">
    <div class="card-body card-body pt-0 pb-0">
      <div class="invoices-main-tabs">
        <div class="row align-items-center">
          <div class="col-lg-8 col-md-8">
            <div class="invoices-tabs">
              <ul>
                <li><a routerLink="/invoices/invoices-list">All Invoice</a></li>
                <li><a routerLink="/invoices/invoices-paid">Paid</a></li>
                <li><a routerLink="/invoices/invoices-overdue" class="active">Overdue</a></li>
                <li><a routerLink="/invoices/invoices-draft">Draft</a></li>
                <li><a routerLink="/invoices/invoices-recurring">Recurring</a></li>
                <li><a routerLink="/invoices/invoices-cancelled">Cancelled</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="invoices-settings-btn">
              <a routerLink="/invoices/invoices-settings" class="invoices-settings-icon">
                <i class="feather icon-settings"></i>
              </a>
              <a routerLink="/invoices/add-invoice" class="btn">
                <i class="feather icon-plus-circle"></i> New Invoice
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card inovices-card">
        <div class="card-body">
          <div class="inovices-widget-header">
            <span class="inovices-widget-icon">
              <img src="assets/img/icons/invoices-icon1.svg" alt="">
            </span>
            <div class="inovices-dash-count">
              <div class="inovices-amount">$8,78,797</div>
            </div>
          </div>
          <p class="inovices-all">All Invoices <span>50</span></p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card inovices-card">
        <div class="card-body">
          <div class="inovices-widget-header">
            <span class="inovices-widget-icon">
              <img src="assets/img/icons/invoices-icon2.svg" alt="">
            </span>
            <div class="inovices-dash-count">
              <div class="inovices-amount">$4,5884</div>
            </div>
          </div>
          <p class="inovices-all">Paid Invoices <span>60</span></p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card inovices-card">
        <div class="card-body">
          <div class="inovices-widget-header">
            <span class="inovices-widget-icon">
              <img src="assets/img/icons/invoices-icon3.svg" alt="">
            </span>
            <div class="inovices-dash-count">
              <div class="inovices-amount">$2,05,545</div>
            </div>
          </div>
          <p class="inovices-all">Unpaid Invoices <span>70</span></p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card inovices-card">
        <div class="card-body">
          <div class="inovices-widget-header">
            <span class="inovices-widget-icon">
              <img src="assets/img/icons/invoices-icon4.svg" alt="">
            </span>
            <div class="inovices-dash-count">
              <div class="inovices-amount">$8,8,797</div>
            </div>
          </div>
          <p class="inovices-all">Cancelled Invoices <span>80</span></p>
        </div>
      </div>
    </div>
  </div>


  <div class="table-responsive">
    <div class="table_header">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="dataTables_length">
            <label htmlFor="">
              Show
              <select [(ngModel)]="pageSize" (ngModelChange)="changePageSize()" class="form-control form-control-sm">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
              Entries
            </label>
          </div>
        </div>
      </div>
    </div>
    <table matSort (matSortChange)="sortData($event)" class="table table-stripped table-hover datatable">
      <thead class="thead-light">
        <tr>
          <th mat-sort-header="id">Invoice ID</th>
          <th mat-sort-header="invoiceto">Invoice to</th>
          <th mat-sort-header="amount">Amount</th>
          <th mat-sort-header="createdOn">Created on</th>
          <th mat-sort-header="lastDate">Last date</th>
          <th mat-sort-header="status">Status</th>
          <th class="text-end">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoices of overdueInvoicesList;let i = index">
          <td>
            <label class="custom_check">
              <input type="checkbox" name="invoice">
              <span class="checkmark"></span>
            </label>
            <a routerLink="/invoices/view-invoice" class="invoice-link">{{invoices.idno}}</a>
          </td>
          <td>
            <h2 class="table-avatar">
              <a routerLink="/profile"><img class="avatar avatar-sm ms-2 avatar-img rounded-circle"
                  src="assets/img/profiles/avatar-0{{invoices.id}}.jpg" alt="User Image">{{invoices.invoiceto}}</a>
            </h2>
          </td>
          <td class="text-primary">{{invoices.amount}}</td>
          <td>{{invoices.createdOn}}</td>
          <td>{{invoices.lastDate}}</td>
          <td><span class="badge bg-danger-light">{{invoices.status}}</span></td>
          <td class="text-end">
            <a routerLink="/invoices/edit-invoice" class="btn btn-sm btn-white text-success ms-2"><i
                class="far fa-edit ms-1"></i> Edit</a>
            <a class="btn btn-sm btn-white text-danger" href="javascript:void(0)" data-bs-toggle="modal"
              data-bs-target="#delete_overdue"><i class="far fa-trash-alt ms-1"></i>Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table_footer">
    <div class="col-sm-12 col-md-5">
      <div class="dataTables_info">
        Showing {{ serialNumberArray[0] }} to
        {{ serialNumberArray[serialNumberArray.length - 1] }} of
        {{ totalData }} entries
      </div>
    </div>

    <div class="col-sm-12 col-md-7">
      <div class="pagination_section">
        <ul class="pagination">
          <li class="page-item" [ngClass]="{
                        disabled: currentPage === 1
                      }">
            <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);" tabindex="-1">Previous</a>
          </li>

          <ng-container *ngFor="let item of pageNumberArray; let i = index">
            <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                          (pageNumberArray[currentPage - 2] > item &&
                            item !== 1 &&
                            pageNumberArray.length > 6) ||
                          (pageNumberArray[currentPage] < item &&
                            item !== 1 &&
                            pageNumberArray.length > 6 &&
                            pageNumberArray.length !== item)
                            ? 'hide-page-no'
                            : 'show-page-no'
                        ">
              <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                {{ item }}
              </a>
            </li>
            <li class="page-item" *ngIf="
                          i === 0 && pageNumberArray.length > 6 && currentPage > 2
                        " [hidden]="currentPage === 1">
              <a (click)="moveToPage(currentPage - 2)" class="page-link" href="javascript:void(0);"> ... </a>
            </li>
            <li *ngIf="
                          i === pageNumberArray.length - 2 &&
                          pageNumberArray.length > 6
                        " [hidden]="
                          currentPage >=
                            pageNumberArray[pageNumberArray.length - 2] ||
                          totalData < serialNumberArray[serialNumberArray.length - 1]
                        " class="page-item">
              <a (click)="moveToPage(currentPage + 2)" class="page-link" href="javascript:void(0);"> ... </a>
            </li>
          </ng-container>

          <li class="page-item" [ngClass]="{
                        disabled:
                          currentPage ===
                            pageNumberArray[pageNumberArray.length - 1] ||
                          overdueInvoicesList.length === 0
                      }">
            <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);">Next
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
<!-- Delete Paid Modal -->
<div class="modal custom-modal fade" id="delete_overdue" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header">
          <h3>Delete Invoice Overdue</h3>
          <p>Are you sure want to delete?</p>
        </div>
        <div class="modal-btn delete-action">
          <div class="row">
            <div class="col-6">
              <a href="javascript:void(0);" class="btn btn-primary paid-continue-btn">Delete</a>
            </div>
            <div class="col-6">
              <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary paid-cancel-btn">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Delete Paid Modal -->