<div class="content container-fluid">
				
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Add Fees</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="'/accounts/fees-collection'">Accounts</a></li>
          <li class="breadcrumb-item active">Add Fees</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-sm-12">
    
      <div class="card">
        <div class="card-body">
          <form  [formGroup]="addFeesForm">
            <div class="row">
              <div class="col-12">
                <h5 class="form-title"><span>Fees Information</span></h5>
              </div>
              <div class="col-12 col-sm-4">  
                <div class="form-group local-form">
                  <label  htmlFor="">Student ID <span class="login-danger">*</span></label>
                  <input type="text" class="form-control"[class.invalid]="addFeesForm.get('feesId')?.invalid && addFeesForm.get('feesId')?.touched"
                  formControlName="feesId">
                  <div
                  *ngIf="addFeesForm.get('feesId')?.invalid && addFeesForm.get('feesId')?.touched">
                  <small
                      *ngIf="addFeesForm.get('feesId')?.invalid && addFeesForm.get('feesId')?.touched"
                      class="text-danger"> *Student ID is required</small>
              </div>
                </div>
              </div>
              <div class="col-12 col-sm-4">  
                <div class="form-group local-form">
                  <label  htmlFor="">Student Name <span class="login-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-12 col-sm-4">  
                <div class="form-group local-forms">
                  <label  htmlFor="">Gender <span class="login-danger">*</span></label>
                  <select class="form-control select form-select">
                    <option>Select Gender</option>
                    <option>Female</option>
                    <option>Male</option>
                    <option>Others</option>
                    </select>
                </div>
              </div>
              <div class="col-12 col-sm-4">  
                <div class="form-group local-forms">
                  <label  htmlFor="">Fees Type <span class="login-danger">*</span></label>
                  <select class="form-control select form-select">
                    <option>Select Type</option>
                    <option>Class Test</option>
                    <option>Exam Fees</option>
                    <option>Hostel Fees</option>
                    <option>Transport Fees</option>
                    <option>Mess Fees</option>
                    </select>
                </div>
              </div>
              <div class="col-12 col-sm-4">  
                <div class="form-group local-forms">
                  <label  htmlFor="">Fees Amount <span class="login-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-12 col-sm-4">  
                <div class="form-group local-forms">
                  <label  htmlFor="">Paid Date <span class="login-danger">*</span></label>
                  <input class="form-control" matInput [matDatepicker]="picker" placeholder="DD-MM-YYYY">
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                </div>
              </div>
              <div class="col-12">
                <div class="student-submit">
                  <button type="submit" class="btn btn-primary mb-5">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>							
    </div>					
  </div>					
</div>	