		<!-- Main Wrapper -->
    <div class="main-wrapper login-body">
      <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <!-- <div class="login-left">
        <img class="img-fluid" src="assets/img/login.png" alt="Logo">
                  </div> -->
                  <div class="login-right">
        <div class="login-right-wrap">
          <h1>Reset Password</h1>
          <p class="account-subtitle">Let Us Help You</p>
          
          <!-- Form -->
          <form [formGroup]="form" (ngSubmit)="forgetPassword()">
            <div class="form-group">
              <label htmlFor="">
                البريد الإلكتروني / رقم الهاتف المحمول
                <span style="color: red">*</span>
              </label>
              <input
                class="form-control"
                placeholder="البريد الإلكتروني / رقم الهاتف المحمول "
                class="form-control"
                type="text"
                formControlName="username"
                id="username"
                [ngClass]="{
                  'is-invalid': f['username'].touched && f['username'].invalid
                }"
              />

              <div
                *ngIf="f['username'].touched && f['username'].invalid"
                class="invalid-feedback"
              >
                <div
                  style="font-weight: bold"
                  *ngIf="f['username'].errors && f['username'].errors['required']"
                >
                  حقل إلزامي
                </div>
                <div
                style="font-weight: bold"
                *ngIf="f['username'].errors && f['username'].errors['email']"
              >
              enter email
              </div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit"  [disabled]="form.invalid">
                <div class="spinner-border text-light" role="status" [hidden]="!isBtnLoading"></div>
                Reset My Password</button>
            </div>
            <div class="form-group mb-0">
              <button class="btn btn-primary primary-reset btn-block" (click)="login()">Login</button>
            </div>
          </form>
          <!-- /Form -->
          
        </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
<!-- /Main Wrapper -->