// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$template-primary: mat.define-palette(mat.$indigo-palette);
$template-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$template-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$template-theme: mat.define-light-theme(
  (
    color: (
      primary:$template-primary,
      accent: $template-accent,
      warn: $template-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-legacy-component-themes($template-theme);

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$template-primary: mat.define-palette(mat.$indigo-palette);
$template-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$template-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$template-theme: mat.define-light-theme(
  (
    color: (
      primary: $template-primary,
      accent: $template-accent,
      warn: $template-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-legacy-component-themes($template-theme);
/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

@import "./assets/config/app";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  overflow-y: scroll;
  background: #ffff;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
.apexcharts-legend-marker {
  margin-left: 3px;
}
.mat-calendar-next-button::after {
  transform: translateX(-2px) rotate(230deg) !important;
}
.mat-calendar-previous-button::after {
  transform: translateX(-2px) rotate(-230deg) !important;
}
mat-slider.mat-mdc-slider.mdc-slider {
  width: 100%;
}
mat-slider-visual-thumb .mdc-slider__value-indicator-container .mdc-slider__value-indicator {
  transform: scale(1);
}
.mat-mdc-slider.mat-primary {
  --mdc-slider-handle-color: #3d5ee1;
  --mdc-slider-active-track-color: #3d5ee1;
  --mat-mdc-slider-hover-ripple-color: #3d5ee10f;
  --mat-mdc-slider-focus-ripple-color: #3d5ee10f;
  --mdc-slider-focus-handle-color: #3d5ee1;
}
.popover-list .btn {
  position: relative;
}
@media (max-width: 1399px) {
  .skip-group .btn-info {
    min-width: 130px;
    padding: 6px 15px;
    font-size: 15px;
}
}
table.table>:not(:last-child)>:last-child>* {
  border-bottom-color: inherit;
}
.email-header .btn:hover{
  color:var(--bs-btn-hover-color);
  border: 1px solid #ccc;
}
app-input-groups .btn:hover{
  color:var(--bs-btn-hover-color);
  border: 1px solid #ccc;
}
ngx-editor .NgxEditor {
  border: 1px solid #ddd;
  height: 200px;
  border-radius: 10px;
}
.NgxEditor ngx-editor-menu {
  padding: 1px;
}
.modal-icon i.fa.fa-circle-exclamation.text-warning {
  font-size: 40px;
}
.modal-icon i.fas.fa-trash-alt.text-danger {
  font-size: 30px;
}
.table {
  --bs-table-bg: transparent;
}
.fc-button-group .fc-button, .fc-toolbar-chunk .fc-button {
  text-transform: capitalize;
}
.ng-scrollbar-wrapper[_ngcontent-ng-c1997982448]{
  direction: rtl;
 }
 .alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  left: 0;
  right: unset;
  z-index: 2;
  padding: 1.25rem 1rem;
}
.fc-button-group .fc-button-primary{
  background-color: #3d5ee1 !important;
  border-color: #3d5ee1 !important;
}
.fc .fc-button-primary{
  background-color: #3d5ee1 !important;
  border-color: #3d5ee1 !important;
}
 @media (max-width: 575px) {
  .table_footer {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}
.breadcrumb-item + .breadcrumb-item::before {
  float: right;
  padding-left: var(--bs-breadcrumb-item-padding-x);
}

body.ltr{
  direction: ltr;
}