.mat-input-element {
    width: 75%;
}
 .mat-form-field-flex {
    background-color: rgba(0, 0, 0, 0) !important;
}
.mat-form-field-underline {
    display: none !important;
}
.mat-form-field-wrapper {
    padding-bottom:none !important;

}
